# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Node
node_modules
npm-debug.log
yarn-error.log

# Composer
/vendor

# Environment
.env
.env.backup
.env.production

# Laravel
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# Testing
.phpunit.result.cache
/tests

# Documentation
*.md
!README.md

# Other
.DS_Store
Thumbs.db
