<div class="error-page">
  <div class="error-card">
    <img src="https://img.freepik.com/free-vector/error-colored-isometric-composition-signs-tools-materials-solving-problems-errors-computer-vector-illustration_1284-67437.jpg" alt="error-bg" width="250" class="error-illustration" />
    <h2 class="title">Opps!!!</h2>
    <h6 class="subtitle">This page you are looking for could not be found.</h6>
    <a mat-flat-button color="primary" routerLink="/">Go back to Home</a>
  </div>
  <div class="sr-only" aria-live="polite">Error page</div>
</div>
